#main-header {
  height: 50px;
  width: 100%;
  background-color: #44514A;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0; 
  img {
    position:fixed;
    top: 10px;
    left:75px;
    color: white;
  }
}

#main-container {
  position:relative;
  margin-top: 60px;
}